body {
    font-family: Segoe scipt, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070707;
}


header {
    background-color: #0b0b0b;
    color: rgb(34, 122, 65);
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: rgb(33, 197, 38);
    text-decoration: none;
    transition: color 0.3s;
}


main {
    padding: 20px;
}

.destinations {
    display: flex;
    flex-direction:row;
    gap: 20px;
}

.destination {
    background: #070707;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination img{
    width: 100%;
    height: auto;
    border-radius: px;
    transition: tramsform 0.3s;
}

.destination h2 {
    color: rgb(41, 154, 39);
}

.media {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.media img, .media video {
    border-radius: 4px;
}

a {
    color: rgb(41, 154, 39);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .media {
        flex-direction: column;
    }
}
